@media screen and (min-width: 1440px){
    html{
        font-size: 1.2rem;
    }
    .header{
        &__hero{
            .mobile{display:none;}
            .desktop{display:block;}
        }
        &__toggle,&__navBg,.logo__mobile{display:none;}
        &__nav{
            width: 80%;
            margin:0 auto;
            position:relative;
            visibility: visible;
            opacity: 1;
            grid-template: 1fr / repeat(2,1fr);
            align-items:center;
            padding: 0;
        }
        &__navList{
            grid-column: 2/3;
            display:flex;
            justify-self: flex-end;
            width:auto;
            color:white;
            background:none;
        }
        &__navItem{
            font-size: 1rem;
            padding: 1em .5em;
        }
    }
    .main{
        width: 50%;
        margin: 0 auto;
        top: 100px;
        section{
            font-size: 1.2rem;
            padding: 2em;
        }
        &__details{
            &Buttons{
                padding-top: 1.5em;
                width: 100%;
                justify-content: space-between;
            }
            .bookmark{
                display:flex;
                align-items:center;
                padding-right: 2.5em;
                gap: 1.5em;
                border-radius: 500px;
                border:none;
                span{
                    display:inline;
                    color: $darkGray;
                    font-size: .8rem;
                }
            }
        }
        &__stats{
            display:flex;
            justify-content: space-around;
            div{
                width: 100%;
                align-items:flex-start;
                padding: 0 1em;
                &:not(div:last-child){
                    &::before{
                        left: 0;
                        transform: translateX(0);
                        width: 100%;
                        height: 70%;
                        border: 0;
                        border-right: 1px solid $darkGray;
                        opacity: .5;

                    }
                }
            }
        }
        .card{
            display:grid;
            grid-template: 10% 1fr 10% / repeat(2,1fr);
            align-items:center;
            font-size: 1rem;
            .title{font-size: 1.1em;}
            .pledge,button{
                grid-column: 2/3;
                justify-self: flex-end;
            }
            .pledge{font-size: 1em;}
            p{
                grid-column: 1/3;
            }
        }
        &__modalCard{
            display:grid;
            grid-template: 10% 1fr 20% / 1fr 20%;
            .card__header{
                grid-column: 1/2;
                display:flex;
                align-items:center;
                font-size: .9rem;
            }
            .itemLeft{
                font-size: 1.2rem;
                grid-column: 2/3;
                grid-row: 1/2;
                justify-self: flex-end;
            }
            p{
                grid-column: 1/3;
                font-size: .8rem;
                padding-left: 2.3em;
            }
            .CTACon{
                grid-column: 1/3;
                grid-template: 1fr / 30% repeat(2,1fr);
                .modal__toggle{
                    width: 125px;
                }
                .ctaContinue{
                    grid-column: 3/4;
                    justify-self: flex-end;
                }
                *{grid-row: 1/2;}
            }
        }
        &__completed{
            position:fixed;
            width: 35%;
            height: 50%;
            top: 50%;
            left:50%;
            transform: translate(-50%, -50%);
            h3{
                font-size: 1.3rem;
                margin-top: 1em;
            }
            p{
                font-size: 1rem;
                color:$darkGray;
                margin-bottom: 1em;
            }
            button{margin-top: auto;}
        }
    }   
}