body{
    margin: 0;
}
.header{
    display:flex;
    justify-content: space-between;
    position:relative;
    padding: 1.5em 1em;
    &__hero{
        position:absolute;
        left: 0;
        top: 0;
        z-index: -1;
        img{
            position:relative;
            height: auto;
            width: 100%;
        }
    }
    &__hamburger{
        border:0;
        background: 0;
    }
    &__nav{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1.5em 1em;
    }
    &__navList{
        position:relative;
        top: 2em;
        z-index: 99;
        background:white;
        width: 100%;
        border-radius: 6px;
    }
    &__navItem{
        font-size: 1.1rem;
        font-weight: bold;
        padding: 1em;
        list-style:none;
    }
    &__navBg{
        position:fixed;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,.5);
    }
}