body{
    margin: 0;
    background: rgb(245, 245, 245);
}
.overflow--hidden{
    overflow: hidden;
}
.header{
    display:flex;
    justify-content: space-between;
    position:relative;
    padding: 2.2em 1.5em;
    &__hero{
        position:absolute;
        left: 0;
        top: 0;
        z-index: -1;
        img{
            position:relative;
            height: auto;
            width: 100%;
        }
    }
    .showModal{
        opacity: 1;
        visibility: visible;
    }
    .hideModal{
        opacity: 0;
        visibility: hidden;
    }
    button{
        border: 0;
        background: none;
        cursor: pointer;
        transition: .3s ease-in;
    }
    .close{
        justify-self: flex-end;
    }
    &__nav{
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 50;
        padding: inherit;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in;
        display:grid;
        grid-template: 20% 1fr / repeat(2,1fr); 
        gap: 2em;
    }
    &__navList{
        grid-column: 1/3;
        position:relative;
        background:white;
        width: 100%;
        border-radius: 6px;
    }
    &__navItem{
        font-size: 1.1rem;
        font-weight: bold;
        padding: 1.5em;
        list-style:none;
        cursor:pointer;
        &:hover, &:active{
            opacity: .5;
        }
    }
    &__navBg{
        position:fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(0,0,0,.35);
    }
}
.main{
    margin: 2.2em 1.5em;
    padding: 2.2em 1em;
    border-radius: 6px;
    display:flex;
    flex-direction:column;
    position:relative;
    gap: 2em;
    section{
        background:White;
        padding: 2em 1em;
        border-radius: 6px;
    }
    &__logo{
        position:absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
    &__details{
        display:flex;
        flex-direction: column;
        align-items:center;
        text-align:center;
        gap: 1em;
        
        h3{
            width: 80%;
            font-weight: 700;
        }
        p{ 
            color: $darkGray; 
            font-size: .8rem; 
        }
        div{
            display:flex;
            gap: .5em;
            align-items:center;
            font-size: 1rem;
            button{cursor:pointer;}
        }
        .backProject{
            background: $moderateCyan;
            color:white;
            border-radius: 100px;
            height: 3.5em;
            font-weight: 600;
            width: 13em;
            border:none;
        }
        .bookmark{
            border-radius: 50%;
            width: 3.5em;
            img{
                height: auto;
                width: 100%;
            }
        }
    }
    &__stats{
        text-align:Center;
        *{padding: .5em;}
        h2{
            font-size: 1.8rem;
            padding-top: 1em;
            &:not(h2:first-child){
                position:relative;
                &::before{
                    content:'';
                    position:absolute;
                    top:0;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 100%;
                    width: 30%;
                    border-top: 1px solid $darkGray;
                }
            }
        }
        p{
            font-size: .8rem;
            padding-bottom: 2em;
            color: $darkGray
        }
    }
}