body{
    margin: 0;
}
.overflow--hidden{
    overflow: hidden;
}
.header{
    display:flex;
    justify-content: space-between;
    position:relative;
    padding: 2.2em 1.5em;
    &__hero{
        position:absolute;
        left: 0;
        top: 0;
        z-index: -1;
        img{
            position:relative;
            height: auto;
            width: 100%;
        }
    }
    .showModal{
        opacity: 1;
        visibility: visible;
    }
    .hideModal{
        opacity: 0;
        visibility: hidden;
    }
    button{
        border: 0;
        background: none;
        cursor: pointer;
        transition: .3s ease-in;
    }
    .close{
        justify-self: flex-end;
    }
    &__nav{
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: inherit;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in;
        display:grid;
        grid-template: 20% 1fr / repeat(2,1fr); 
        gap: 2em;
    }
    &__navList{
        grid-column: 1/3;
        position:relative;
        background:white;
        width: 100%;
        border-radius: 6px;
    }
    &__navItem{
        font-size: 1.1rem;
        font-weight: bold;
        padding: 1.5em;
        list-style:none;
        cursor:pointer;
        &:hover, &:active{
            opacity: .5;
        }
    }
    &__navBg{
        position:fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(0,0,0,.35);
    }
}