html {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Commissioner' , sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background: whitesmoke;
}

.overflow--hidden {
  overflow: hidden;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 2.2em 1.5em;
}

.header__hero {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.header__hero .desktop {
  display: none;
}

.header__hero img {
  position: relative;
  height: auto;
  width: 100%;
}

.header button {
  border: 0;
  background: none;
  cursor: pointer;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.header .close {
  justify-self: flex-end;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding: inherit;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 1fr;
  -ms-grid-columns: (1fr)[2];
      grid-template: 20% 1fr/repeat(2, 1fr);
  gap: 2em;
}

.header__navList {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  position: relative;
  background: white;
  width: 100%;
  border-radius: 6px;
}

.header__navItem {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1.5em;
  list-style: none;
  cursor: pointer;
}

.header__navItem:hover, .header__navItem:active {
  opacity: .5;
}

.header__navBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.35);
}

.main {
  margin: 2.2em 1.5em;
  padding: 2.2em 1em;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  gap: 2em;
}

.main section {
  background: White;
  padding: 2em 1em;
  border-radius: 6px;
}

.main__logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
}

.main__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1em;
}

.main__details h3 {
  width: 80%;
  font-weight: 700;
}

.main__details p {
  color: #7a7a7a;
  font-size: .8rem;
}

.main__details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.main__details div button, .main__details div label {
  cursor: pointer;
}

.main__details .backProject {
  background: #3cb4ac;
  color: white;
  border-radius: 100px;
  height: 3.5em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 0 2.5em;
}

.main__details .backProject:hover, .main__details .backProject:active {
  background: #147b74;
}

.main__details .bookmark {
  border-radius: 50%;
  height: auto;
  background: rgba(0, 0, 0, 0.05);
}

.main__details .bookmark__checkBox {
  display: none;
}

.main__details .bookmark__checkBox:checked ~ svg circle {
  fill: #3cb4ac;
}

.main__details .bookmark__checkBox:checked ~ svg path {
  fill: white;
}

.main__details .bookmark__checkBox:checked ~ span {
  color: #3cb4ac;
}

.main__details .bookmark__checkBox:checked ~ span span {
  color: inherit;
  display: inline;
}

.main__details .bookmark svg {
  height: 52px;
  width: 52px;
}

.main__details .bookmark circle {
  fill: #7a7a7a;
}

.main__details .bookmark path {
  fill: #c9c9c9;
}

.main__details .bookmark span {
  display: none;
  font-size: 1rem;
}

.main__details .bookmark span span {
  display: none;
}

.main__stats > div:not(.bar) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: .5em;
  margin-top: 1.5em;
}

.main__stats #backed, .main__stats #backers {
  position: relative;
}

.main__stats #backed::before, .main__stats #backers::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main__stats .bar {
  width: 100%;
  height: 1rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  overflow: hidden;
  position: relative;
}

.main__stats .bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: scaleX(0.1);
          transform: scaleX(0.1);
  -webkit-transform-origin: left;
          transform-origin: left;
  background: #3cb4ac;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  border-radius: inherit;
}

.main__stats h2 {
  font-size: 1.8rem;
}

.main__stats p {
  font-size: .8rem;
  padding-bottom: 2em;
  color: #7a7a7a;
}

.main__about > h3 {
  padding-bottom: 1em;
}

.main__about > p {
  font-size: .8em;
  color: #7a7a7a;
  padding: 1em 0;
}

.main .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.main .card, .main__modalCard {
  border-radius: 6px;
  padding: 1em;
  border: 1px solid #7a7a7a;
  margin-top: 1.5em;
}

.main .card:last-child, .main__modalCard:last-child {
  opacity: .5;
}

.main .card .title, .main__modalCard .title {
  font-weight: 600;
  font-size: 1em;
}

.main .card .pledge, .main__modalCard .pledge {
  padding: .5em 0;
  color: #3cb4ac;
}

.main .card .description, .main__modalCard .description {
  margin: 1em 0;
  color: #7a7a7a;
}

.main .card .itemLeft, .main__modalCard .itemLeft {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5em 0;
  color: #7a7a7a;
  gap: .5em;
}

.main .card .itemLeft .value, .main__modalCard .itemLeft .value {
  font-size: 2em;
  color: black;
}

.main .card button, .main .card .pledge__toggle, .main__modalCard button, .main__modalCard .pledge__toggle {
  background: #3cb4ac;
  color: white;
  border-radius: 100px;
  height: 3.5em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: .8rem;
  display: -ms-grid;
  display: grid;
  place-items: Center;
  align-self: flex-start;
  padding: .5em .75em;
  max-width: 170px;
}

.main .card button:hover, .main .card button:active, .main .card .pledge__toggle:hover, .main .card .pledge__toggle:active, .main__modalCard button:hover, .main__modalCard button:active, .main__modalCard .pledge__toggle:hover, .main__modalCard .pledge__toggle:active {
  background: #147b74;
}

.main__modal {
  position: absolute;
  top: -1em;
  left: 0;
  background: white;
  z-index: 50;
  width: 100%;
}

.main__modalTitle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10%;
      grid-template-columns: 1fr 10%;
  gap: 1em;
}

.main__modalTitle p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-size: .8rem;
  color: #7a7a7a;
}

.main__modalTitle .close {
  border: 0;
  background: none;
  cursor: pointer;
  justify-self: flex-end;
}

.main__modalCard .radio {
  display: none;
}

.main__modalCard .radio:checked ~ .card__header label .customRadio {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main__modalCard .radio:checked ~ .CTACon {
  display: -ms-grid;
  display: grid;
}

.main__modalCard .card__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1em)[2];
  -ms-grid-columns: 10% 1fr;
      grid-template: repeat(2, 1em)/10% 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
}

.main__modalCard .card__header .pledgeNoReward {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.main__modalCard .card__header label {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 1px solid #7a7a7a;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.main__modalCard .card__header .customRadio {
  display: block;
  height: 65%;
  width: 65%;
  border-radius: inherit;
  background: #3cb4ac;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.main__modalCard .CTACon {
  padding: 1em 0;
  margin-top: 1.5em;
  border-top: 1px solid #7a7a7a;
  gap: .5em;
  display: none;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: 40% 1fr;
      grid-template: repeat(2, 1fr)/40% 1fr;
}

.main__modalCard .CTACon button {
  margin: 0;
  padding: 0;
}

.main__modalCard .CTACon input {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: center;
  border: none;
  outline: none;
}

.main__modalCard .CTACon .minimum {
  width: 100%;
  max-width: 100px;
  background: none;
  color: black;
  border: 1px solid #7a7a7a;
  text-align: start;
  padding-left: 1em;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__modalCard .CTACon .dollarSign {
  padding: 0 .5em;
  opacity: .4;
}

.main__modalCard .CTACon .ctaContinue {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.main__completed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1em;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.main__completed button {
  background: #3cb4ac;
  color: white;
  border-radius: 100px;
  height: 3.5em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 0 2.5em;
}

.main__completed button:hover, .main__completed button:active {
  background: #147b74;
}

.main__modalBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.35);
  z-index: 49;
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 1.2rem;
  }
  .header__hero {
    width: 100%;
  }
  .header__hero .mobile {
    display: none;
  }
  .header__hero .desktop {
    display: block;
  }
  .header__toggle, .header__navBg, .header .logo__mobile {
    display: none;
  }
  .header__nav {
    width: 80%;
    margin: 0 auto;
    position: relative;
    visibility: visible;
    opacity: 1;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template: 1fr/repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .header__navList {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: flex-end;
    width: auto;
    color: white;
    background: none;
  }
  .header__navItem {
    font-size: 1rem;
    padding: 1em .5em;
  }
  .main {
    width: 50%;
    margin: 0 auto;
    top: 100px;
  }
  .main section {
    font-size: 1.2rem;
    padding: 2em;
  }
  .main__detailsButtons {
    padding-top: 1.5em;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__details .bookmark {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 2.5em;
    gap: 1.5em;
    border-radius: 500px;
    border: none;
  }
  .main__details .bookmark span {
    display: inline;
    color: #7a7a7a;
    font-size: .8rem;
  }
  .main__stats {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 10%;
    -ms-grid-columns: (1fr)[3];
        grid-template: 1fr 10%/repeat(3, 1fr);
    gap: 1.5em;
  }
  .main__stats #backed::before, .main__stats #backers::before {
    left: 0%;
    width: 100%;
    height: 70%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .main__stats .bar {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .main .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 1fr 10%;
    -ms-grid-columns: (1fr)[2];
        grid-template: 10% 1fr 10%/repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
  }
  .main .card .title {
    font-size: 1.1em;
  }
  .main .card .pledge, .main .card button {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    justify-self: flex-end;
  }
  .main .card .pledge {
    font-size: 1em;
  }
  .main .card .description {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .main .card .itemLeft {
    font-size: .8rem;
  }
  .main .card .pledge__toggle {
    justify-self: flex-end;
    padding: .5em 1.5em;
  }
  .main__modalCard {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 1fr 20%;
    -ms-grid-columns: 1fr 20%;
        grid-template: 10% 1fr 20% / 1fr 20%;
  }
  .main__modalCard .card__header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: .9rem;
  }
  .main__modalCard .itemLeft {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    justify-self: flex-end;
  }
  .main__modalCard .description {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    font-size: .8rem;
    padding-left: 2.3em;
    line-height: 1.5;
  }
  .main__modalCard .CTACon {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 30% (1fr)[2];
        grid-template: 1fr/30% repeat(2, 1fr);
  }
  .main__modalCard .CTACon .modal__toggle {
    width: 125px;
  }
  .main__modalCard .CTACon .ctaContinue {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    justify-self: flex-end;
  }
  .main__modalCard .CTACon * {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .main__completed {
    position: fixed;
    width: 35%;
    height: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main__completed h3 {
    font-size: 1.3rem;
    margin-top: 1em;
  }
  .main__completed p {
    font-size: 1rem;
    color: #7a7a7a;
    margin-bottom: 1em;
  }
  .main__completed button {
    margin-top: auto;
  }
}
/*# sourceMappingURL=main.css.map */